<nav>
    <h2>VMS</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/vendors">Vendors</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="/orders">Orders</a></li>
        <li><a href="/payments">Payments</a></li>
    </ul>
</nav>