<h1>Add Vendor</h1>

<form action="/vendors" method="POST">
    <input type="text" name="name" placeholder="Name" required><br><br>
    <input type="text" name="contact" placeholder="Contact"><br><br>
    <input type="email" name="email" placeholder="Email"><br><br>
    <textarea name="address" placeholder="Address"></textarea><br><br>

    <button type="submit">Add Vendor</button>
</form>